:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
  }
  *{
    
    font-family: Roboto;
    font-weight: 400 , 500;
    
}
.some-class {
  font-size: 20px;
  padding: 20px;
}

@media (max-width: 850px) {
  .image {
    display: none;
  }
  .container {
    display: flex;
    justify-content: center;
  }
  form.login {
    width: 100%;
    height:100%;
    margin: 50px auto;
    background-color: var(--background) !important;
  }
  form.login input[type="text"],
  form.login input[type="password"] {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: 480px) {
  .logo {
    flex-direction: row;
    justify-content:flex-start;
    align-items:flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:40px;
  }

  .logo img {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .pic {
    display: none;
  }
  .container {
    display: flex;
    justify-items: center;
  }
  form.login {
    width: 90vw;
    background-color: var(--background);
    
  }
  form.login input[type="text"],
  form.login input[type="password"] {
    width: 100%;
    box-sizing: border-box;
  }
}



input{
    color:white
}
.logo {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
  
}

.logo img {
  width: 35px;
  height: auto;
  margin-right: 10px;
}

.logo p {
  color:var(--text-title);
  margin: 0;
  text-align: left;
  flex: 1;
}
body{
    background-color: var(--background);
    margin: 0;
}
.container {
  display: grid;
  grid-template-columns:  1fr 1fr;
  height: 100vh; 
  justify-items: center;
}

.image {
  width: 100%;
}
.image img{
  width: 100%;

}


  form.login {
    align-items: center;
    grid-column: 1/2;
    background-color: var(--form-background);
    padding: 50px;
    max-width: auto;
  }
  form.login input[type="text"],
      form.login input[type="password" ] {
        padding: 10px;
        border: 3px solid var(--text-base);
        background-color: var(--form-background);
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
      }
      form.login input[type="submit"] {
        background-color: var(--primary-color);
        padding: 10px 20px;
        border: none;
        cursor: pointer;
      }
      form.login label {
        color: var(--text-base);
      }
      form.login p {
        color:var(--text-base);
     
      }
      form.login h2 {
        color: var(--text-title);
        margin: 0;
        text-align: left;
        flex: 1;
      }
      form.login img {
        width: 25px;
        height: auto;
       float: left;
      }
    
      
      #email{
        border: 3px solid var(--primary-color);
        background-image: url("images/mail-focus.svg");
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 40px;
      }
      #email:focus{
        border:3px solid var(--primary-color);
        outline: var(--primary-color)
      }
      form.login input[type="submit"] {
        width: 100%;
        box-sizing: border-box;
        color:black
      }
      #password{
        background-image: url("images/lock.svg"),url("images/eye.svg");
        background-repeat: no-repeat, no-repeat;
        background-position: left center, right center;
        padding-left: 40px;
        padding-right: 40px;
      }
      #password:focus{
        outline: var(--text-base)
      }
      #password::-ms-reveal {
        display: none;
      }
      
      #password::-webkit-credentials-auto-fill-button {
        display:none;
      }
      #forgot{
        color:var(--primary-color);
       float:right
      }
      .noPassword{
        
        display: flex;
        align-items: center;
        justify-content: center;
        color:var(--primary-color);
      }
       #no{ 
        color:var(--primary-color);
      }
      a{
        margin-left: 5px;
        color:var(--primary-color);
      }
      .password-wrapper {
        position: relative;
      }
      
      .show-password {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
      .emailstyle, .pwstyle {
        font-family: "Arial", "sans-serif";
      }
     
     
      
      
  